.skill-container{
    margin: 4rem 3rem;
    position: relative;
}

.skill-container::after,
.skill-container::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(150px);
}

.skill-container::before{
    background: #9e51b9;
    bottom: 0;
    right: 0;
}
.skill-container::after{
    top:-3rem ;
    left: -5rem;
}

.skill-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.skill-content{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    
}

.skills{
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2,1fr);   /* the displayed item is 2 per column */
    
}

.skill-info{
    flex: 1;
}

@media(max-width:1025px){
    .skills{
        padding: 1rem;
    }
    .skills,
    .skill-content{
        grid-gap: 2rem;
    }
}

@media(max-width:768px){
    .skill-content{
        flex-direction: column-reverse;
    }
    .skills,
    .skill-info{
        width: 100%;

    }
    .skill-container{
        font-size: 1.3rem;
        margin-top: 2rem;
    }

    .skill-container::after,
    .skill-container::before{
        width: 18rem;
        height: 18rem;
    }
}
   
@media(max-width:600px){
    .skill-container{
        padding: 0;
    }
}